.carousel-container-computer,
.carousel-container-adMobile,
.carousel-container-adfront,
.carousel-container-adSlide,
.carousel-container-adTablet {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-computer,
.carousel-mobile,
.carousel-adfront,
.carousel-adSlide,
.carousel-adTablet {
  display: flex;
  transition: transform 1s ease;
}

.carousel-slide-computer,
.carousel-slide-mobile,
.carousel-slide-adfront,
.carousel-slide-adSlide,
.carousel-slide-adTablet {
  flex: 0 0 100%;
}

img {
  object-fit: cover;
}
