.carousel-container-computer,
.carousel-container-mobile,
.carousel-container-adfront,
.carousel-slideAd {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-computer,
.carousel-mobile,
.carousel-adfront,
.carousel-slide-slideAd {
  display: flex;
  transition: transform 1s ease;
}

.carousel-slide-computer,
.carousel-slide-mobile,
.carousel-slide-adfront,
.carousel-slide-slideAd {
  flex: 0 0 100%;
}

img {
  object-fit: cover;
}
